a {
    color: black;
    text-decoration: underline;
    font-style: italic;
}

a:visited {
    color: black;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin-top: 0;
}

hr {
    border-color: lightgray;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.content-wrapper {
    position: relative;
    border-style: dotted;
    border-color: #d3d3d3;
    //min-height: 800px;
}

.border-color {
    border-color: #d3d3d3;
}

.content-left {
    border-right-style: dotted;
    min-width: 19em;
}

.content-right {
    border-left-style: dotted;
    min-width: 15em;
}

.content-inner {
    border-top-style: dotted;
    margin-top: 16px;
}

.side-margin {
    margin-left: 4px;
    margin-right: 4px;
}

.width-100 {
    width: 100%;
}

.loading-blocker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #aaaaaaaa;
}

.block {
    display: inline-block;
}

.button-margin {
    margin-right: 20px;
}
