<ilpn-page-layout>
    <h2>
        A tool for exploratory process discovery utilising Petri net regions - This tool is submitted as
        <br><i>A Second Glimpse at Petri Net Regions - A Tool for Exploratory Process Discovery</i> by J. Kovář, S. Folz-Weinstein and R. Bergenthum
        <br>to ATAED 2023.
    </h2>

    <hr>

    <div class="content-wrapper">
        <div class="loading-blocker" *ngIf="loading$ | async" fxLayoutAlign="center center">
            <mat-spinner color="accent"></mat-spinner>
        </div>
        <div flexLayout="row" flexLayoutAlign="start start">
            <div flexLayout="column" flexLayoutAlign="start stretch" class="border-color content-left" fxFlex="15">
                <ilpn-file-upload [fileDisplay]="fdLog" descriptionText="Drop a XES log file here" (fileContent)="processUpload($event)"></ilpn-file-upload>
                <ilpn-file-download [fileDisplay]="fdPN" descriptionText="Download current model" [disabled]="file === undefined" [files]="file"></ilpn-file-download>

                <div flexLayout="column" flexLayoutAlign="start stretch" class="border-color content-inner">
                    <div flexLayout="row" flexLayoutAlign="space-between center" class="width-100">
                        <div fxFlex fxLayoutAlign="start center">incremental synthesis</div>
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <span>off</span>
                            <mat-slide-toggle [formControl]="fcIncremental" class="side-margin"></mat-slide-toggle>
                            <span>on</span>
                        </div>
                    </div>
                    <div flexLayout="row" flexLayoutAlign="space-between center" class="width-100">
                        <div fxFlex fxLayoutAlign="start center">arc weights</div>
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <span>off</span>
                            <mat-slide-toggle [formControl]="fcArcWeights" class="side-margin"></mat-slide-toggle>
                            <span>on</span>
                        </div>
                    </div>
                </div>
            </div>

            <ilpn-pn-display fxFlex="70" [petriNet$]="displayedModel$" [height]="svgHeight" [ngStyle]="{height: svgHeight}"></ilpn-pn-display>

            <app-cumulative-slider class="border-color content-right" fxFlex="15"
                                   [pos$]="pos$"
                                   [model$]="model$"
                                   (selectionUpdate)="updateModel($event)"
                                   (sizeChanged)="svgSizeChange($event)"
                                   (modelSelected)="changeModelDisplay($event)">
            </app-cumulative-slider>
        </div>
    </div>

    <hr>
    <h2>download examples</h2>
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
        <ilpn-descriptive-link [fileDisplay]="fdLog" title="Repair example with noise" description="The repair example from the ProM Tools tutorial with additional traces [1]" link="assets/repairExampleNoise.xes" [download]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="fdLog" title="Unaltered repair example" description="The repair example from the ProM Tools tutorial [1]" link="assets/repairExample.xes" [download]="true"></ilpn-descriptive-link>
    </div>

    <br>
    <span>[1] example XES files were adapted from the originals used in the <a href="https://promtools.org/prom-documentation/">ProM Tools tutorial</a>. The original files can be downloaded <a href="https://promtools.org/?smd_process_download=1&download_id=161">here</a></span>

</ilpn-page-layout>
