a {
    color: black;
    text-decoration: underline;
    font-style: italic;
}

a:visited {
    color: black;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin-top: 0;
}

hr {
    border-color: lightgray;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.hide-border {
    border-style: none !important;
}

.border-color {
    border-color: #d3d3d3;
    border-width: 3px;
}

.slider-border {
    border-style: dotted;
    min-width: 19em;

    position: relative;
    min-height: 95vh;
}

.sticky-drawing-area {
    border-left-style: dotted;
    border-top-style: dotted;
    border-bottom-style: dotted;

    top: 2.5vh;
    position: sticky;
    min-height: 95vh;
    max-height: 95vh;
}

.side-margin {
    margin-left: 4px;
    margin-right: 4px;
}

.width-100 {
    width: 100%;
}

.loading-blocker {
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    z-index: 2;
    background-color: #aaaaaaaa;
}

.block {
    display: inline-block;
}

.button-margin {
    margin-right: 20px;
}

.padding-left {
    padding-left: 8px;
}

.setting-line {
    height: 32px;
}

.setting-min-width {
    min-width: 24em;
}
