.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.detail-area {
    border-bottom-style: dotted;
    border-color: #d3d3d3;
    height: 27px;
}

.checkbox-margin {
    margin: 2px;
}

.side-margin {
    margin-left: 4px;
    margin-right: 4px;
}
