<div fxLayout="column" fxLayoutAlign="start start" class="width-100 height-100 overflow-scroll">
    <div fxLayout="row" fxLayoutAlign="start stretch" class="width-100"
         *ngFor="let config of buttons; let i = index">
        <input type="checkbox" (change)="processCheckboxChange(i, $event)">
        <div class="graph-bar height-100"
             [ngStyle]="{'width': 'calc(20px + (100% - 20px) * ( '+config.cumulated+'/'+total+' ))'}"
             [ngClass]="{'red-graph-button': config.state === 0, 'green-graph-button': config.state === 1, 'yellow-graph-button': config.state === 2}">
            <span>{{config.cumulated}}</span>
        </div>
    </div>
</div>
